body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #F5A9BC;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3B0B0B;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: .75em;
}


.indexWrapper {
  margin: auto;
}


.pigTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: #3B0B0B dotted thick;
  transition: 0.75s;
  opacity: 1;
}

.minBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
}

.maxBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
  opacity: 0.75;
}

.pigTile h3 {
  color: #FBB;
}

.minPigTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxPigTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.pigTile:hover {
  transform: scale(1.05);
}


.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all .2s ease-in-out;
}

.footer {
  padding: 1%;
  clear: both;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hog-container {
  justify-content: center;
}

.hog-image {
  height: 250px!important;
    object-fit: cover;
}

.ui.card:first-child, .ui.card:last-child, .ui.card {
  margin: 1em 1em;
  position: relative;
  background-color: #f5a9bc8e;
}

.ui.card .content {
  background-color: white!important
}

.pointer {
  cursor: pointer;
}

.modal {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  max-width: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.modal-details {
  background: white;
  padding: 15px;
}

.hide {
  display: none!important;
}

.close-modal {
  color: white;
  position: absolute;
  top: -25px;
  right: -20px;
  font-size: 25px;
  cursor: pointer;
}

.sort-filter-bar {
  justify-content: center;
}

.sort-filter-bar label {
  display: flex;
  flex-direction: column;
}

.hide-hog {
  margin: 10px 0!important;
  cursor: pointer;
}

.form-container {
  max-width: 500px;
  margin: 0 auto 40px;
}

.form-container input, .form-container select {
  width: 100%;
  margin-bottom: 10px;
}